@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
html {
  background-color: #214643;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

p {
  color: white;
}

.container {
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.actions {
  display: flex;
}

.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

.data-ponto {
  color: #aac7a2
}

.btn {
  background-image: linear-gradient(to bottom right, #5f8263, #6ca55d);
  border: none!important;
  color: #214643!important;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  max-width: 25%;
}

.btn-debito-bh {
  background-image: linear-gradient(to bottom right, #a6ab70, #cb9553);
  border: none!important;
  color: #214643!important;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  max-width: 25%;
}

input {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
  color: #FFF;
  outline-style: none!important;
  background-color: transparent!important;
  border-bottom: 1px solid #a8a8a8;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  width: 100%;
}

input:active, input:focus {
  border-bottom: 1px solid white;
}

.ui-dialog {
  background-color: rgb(40, 69, 159)!important;
  border: 0px;
}

.ui-dialog-footer {
  background-color: rgb(40, 69, 159)!important;
  border: 0px;
}

.ui-toast, .ui-toast-message-content {
  background-color: #69FF97;
  box-shadow: none;
}

.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title, .ui-confirmdialog.ui-dialog .ui-dialog-content, .ui-dialog .ui-dialog-titlebar-icon span {
  color: #bcdc1c;
}

.ui-dialog .ui-dialog-titlebar-icon {
  border: 0px!important;
}

.ui-dialog .ui-dialog-titlebar-icon:hover {
  color: #00E4FF;
  background-color: rgb(40, 69, 159)!important;
  border: 0px!important;
}

.feature-title {
  font-size: 30px;
  color: #6ca55d;
}

.tab {
  min-width: 200px;
  height: 30px;
  text-align: center;
  padding-top: 1%;
  cursor: pointer;
}

.tab-active {
  border-radius: 20px 20px 0 0;
  background-color: #6ca55d;
  color: #214643;
  border-bottom: none;
}

.tab-inactive {
  color: #6ca55d;
  ;
}

.tab-container {
  border-bottom: 2px solid #6ca55d;
  display: flex;
}

.spinner-blur {
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.navbar {
  display: inline-flex;
  width: 100%;
  height: 60px;
  z-index: 990;
  justify-content: space-between;
}

#action-icon, #btnAlternarExibicao {
  margin-right: 10px;
  cursor: pointer;
  font-size: 25px;
  color: #aac7a2
}

.navbar ul li {
  display: inline;
  padding-top: 20px;
  font-size: 20px;
  color: #FFF;
}

.message {
  padding-left: 10px;
  width: 100%;
}

.message-success {
  background-color: #bcdc1c;
  color: #414c0b;
}

.message-error {
  background-color: #d33f3f;
  color: #ffffff;
}

.message {
  transition: height 0.5s;
  height: 0;
  padding-top: 15px
}

#message {
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}

.message.in {
  height: 40px;
}

.message.out {
  top: -1000px;
  height: 0;
}

.message.remove-pad {
  padding-top: 0px;
  color: transparent;
}

.spinner-blur {
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.spinner {
  border: 10px solid rgb(154, 181, 100);
  border-radius: 50%;
  border-top: 10px solid rgb(78, 116, 89);
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 100000;
  top: 40%;
  left: 45%;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}

.input-ponto {
  margin: 1%;
}

.btn-action {
  background-color: transparent;
  border: none;
  color: #aac7a2;
  font-size: 16px;
  text-align: center;
  padding: 12px 16px;
  cursor: pointer;
  outline: none;
  height: 30px;
}

.btn-text {
  padding: 0;
  margin: 0;
  color: #aac7a2;
}

.card-ponto {
  margin: 15px;
  background-color: #315552;
  border-radius: 10px;
  padding: 2%;
}

.close-container{
  width: 100%;
  text-align: right;
}

.show-sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 2em;
  -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  background-color: #2f5754;
  color: white;
  z-index: 4;
  top: 0px;
  left: 0px;
}

.hide-sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  padding: 2em;
  -webkit-transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  background-color: #2f5754;
  color: white;
  left: -600px;
  top: 0px;
  height: 100%;
  opacity: 1;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}